* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1140px;
    position: relative;
}

.promo {
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    height: 800px;
    padding: 39px 0 62px 0;
}

.logo .logo__img {
    display: block;
    margin: 0 auto;
}

.logo .logo__text {
    color: #fff;
    font: 15px/24px normal Roboto;
    margin-top: 14px;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.title {
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.simple .title__big {
    color: #fff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}

.promo .promo__text {
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Roboto Light";
    font-weight: 300;
    margin-top: 23px;
    text-align: center;
    padding: 0 13px;
}

.promo .promo__text span {
    color: #f9bf3b;
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.promo .promo__btn, .gift .gift__btn {
    background: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0,0,0,.23);
    box-shadow: inset 0 0 0 rgba(0,0,0,.18);
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    margin: 73px auto;
    height: 72px;
    outline: none;
    text-transform: uppercase;
    width: 313px;
}

.more {
    margin-top: 73px;
}

.more .more__text {
    color: #fff;
    font: 21px normal 'Roboto-Thin';
    text-align: center;
    text-transform: uppercase;
}

.more .more__img {
    display: block;
    margin: 13px auto;
}

.waiting {
    background: #efefef;
    min-height: 604px;
    padding: 85px 0 75px 0;
}

.waiting .waiting__header, .finish .finish__header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.waiting .waiting__divider, .finish .finish__divider {
    background: #f9bf3b;
    height: 4px;
    margin: 0 auto;
    margin-top: 18px;
    width: 217px;
}

.waiting .waiting__subheader {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    margin-top: 17px;
    text-align: center;
}

.waiting .waiting__wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;

}

.waiting .waiting__wrapper .waiting__item {
    text-align: center;
    width: 339px;
}

.waiting .waiting__wrapper .waiting__item .waiting__img {
    width: 100%;
}

.waiting .waiting__wrapper .waiting__item .waiting__descr {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 33px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization__header {
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 29px;
    font-weight: 400;
    margin-left: 391px;
    text-transform: uppercase;
}

.optimization .optimization__text {
    color: #4a4a4a;
    margin-left: 391px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    font-family: "Roboto Light";
    font-weight: 300;
} 

.optimization .optimization__text span {
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimization__img {
    left: -240px;
    top: -54px;
    position: absolute;
    z-index: -1;
}

.finish {
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
    min-height: 447px;
    padding: 86px 0 79px 0;
}

.finish .finish__header {
    color: #fff;
}

.finish .finish__wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish__wrapper .finish__item {
    max-width: 204px;
}

.finish .finish__wrapper .finish__item .finish__round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #b4e2ff;
    border-radius: 100%;
    height: 115px;
    width: 115px;   
}

.finish .finish__wrapper .finish__item .finish__descr{
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    margin-top: 25px;
    line-height: 20px;
    text-align: center;
}

.gift {
    background: #EFEFEF;
    min-height: 500px;
    padding: 86px 0 79px 0;
}

.gift .gift__icon {
    display: block;
    margin: 0 auto;
}

.gift .gift__text {
    color: #252525;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    margin-top: 42px;
    line-height: 43px;
    text-align: center;
}

.gift .gift__btn {
    margin-top: 52px;
}

.follow {
    background: #fff;
    min-height: 500px;
    padding: 86px 0 79px 0;
}

.follow .follow__icon {
    display: block;
    margin: 0 auto;
}

.follow .follow__text {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    margin-top: 37px;
    text-align: center;
    text-transform: uppercase;
}

.follow .follow__text span {
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 400;
    margin-top: 37px;
    text-align: center;
    text-transform: uppercase;
}

.follow .follow__text span.second {
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.footer {
    background-color: #1a1a1a;
    min-height: 166px;
}

.footer .footer__text {
    padding: 61px 0 69px 0;
}


.footer .footer__text, .footer .footer__text a {
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}
