@media (max-width: 1920px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    
}

@media (max-width: 575px) {
    .header {
        display: none;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .main {
        width: 100%;
        &__descr {
            padding: 0 10px;
        }
    }
    .logo {
        display: none;
        img {
            display: none;
        }
    }
    .title_main {
        margin-top: 20px;
    }

    .about {
        min-height: 300px;
        padding: 8% 0;
        padding-bottom: 10px;
        &__me {
            width: 100%;
        }
        &__descr {
            margin-top: 10px;
            padding: 0 5%;
        }
    }

    .title_about {
        width: 100%;
    }

    .projects {
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            width: 40%;
            height: 40%;
            display: block;
            margin: 0 auto;
        }
        &__link {
            text-align: center;
            width: 80%;
            margin: 20px auto;
            &:hover {
                color: #1B2B34;
                text-decoration: underline;
            }
        }
    }

    .skills {
        padding: 5% 2%;
        &__my {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__image {
            width: 100%;
            height: 280px;
            img {
                width: 90%;
                height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        &__text {
            width: 100%;
            padding: 0 5%;
        }
        &__descr {
            text-align: center;
        }
    }
    
    .title_skills {
        width: 100%;
        margin-top: 20px;
    }

    .work {
        width: 100%;
        padding: 20px 0;
        min-height: 350px;
        &__iframe {
            height: 300px;
            padding: 3%;
            width: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }

    .consultation {
        min-height: 500px;
        padding: 20px 10px;
        &__descr {
            width: 100%;
            margin-top: 15px;
        }
    }

    .feed-form {
        margin-top: 20px;
    }

    .footer {
        padding: 15px 0;
        width: 100%;
        min-height: 200px;
        &__info {
            flex-direction: column-reverse;
        }
        &__me {
            margin-top: 20px;
        }
    }
}