.footer {
    background: #34547A;
    min-height: 200px;
    padding: 50px 0 50px 0;
    display: flex;
    &__info {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    }
    &__me {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        line-height: 20px;
        margin-top: 30px;
    }
    &__phone {
        display: block;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
        margin-top: 20px;
        &:hover {
            color: #fff;
        }
    }
    &__social-item {
        border: 2px solid #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 0 30px;
        img {
            height: 65%;
        }
        &:hover {            
            box-shadow: 0px 0px 65px 2px rgba(6, 4, 151, 0.64) inset;            
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    iframe {
        width: 100%;
        height: 630px;
        border: none;
    }
}