.main {
    min-height: 449px;
    padding: 0px 0 0px 0;
    background: #EEEFF1;
    &__descr {
        margin-top: 30px;
        color: #727272;
        font-family: Roboto;
        font-weight: 500;
        font-size: 26px;
        text-align: center;
        line-height: 26px;

    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px 0 70px 0;
}

.logo {
    padding-right: 10px; 
    z-index: 1;
    &__img {
        width: 484px;
        height: 106px;
    }
}