.skills {
    min-height: 600px;
    padding: 102px 0 100px 0;
    background: #F9F9F9;
    &__my {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__text {
        width: 45%;
    }
    &__image {
        width: 50%;
        height: 415px;
        background: url(../img/me.jpg) center (center/cover) no-repeat;   
        border-radius: 10px;
    }
    &__descr {
        margin-top: 20px;
    }
}