@media (max-width: 1920px) {
    .header {
        &__official {
            font-size: 28px;
            span {
                font-size: 24px;
            }
        }
        &__phone {
            font-size: 24px;
        }
    }
    button.button {
        font-size: 14px;

    }

    button.button_main{
        font-size: 24px;
    }

    .promo {
        &__link {
            font-size: 22px;
            font-weight: 500;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &__official {
            font-size: 26px;
            font-weight: 700;
            span {
                font-size: 18px;
            }
        }
        &__phone {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .catalog {
        &-item {
            &__subtitle {
                font-size: 20px;
            }
            &__link {
                font-size: 18px;
            }
        }
    }
    .button.button_mini {
        width: 55%;
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .header {
        padding-right: 20px;
        padding-left: 20px;
        &__official {
            font-size: 18px;
            font-weight: 700;
            span {
                font-size: 18px;
            }
        }
        &__phone {
            font-size: 17px;
            font-weight: 700;
        }
    }

    button.button {
        margin-top: 10px;
        font-size: 14px;
        width: 100%;
    }

    button.button_main{
        font-size: 18px;
        width: 300px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .promo {
        min-height: 535px;
        padding: 10px 0 10px 0;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 42px;
            font-weight: 700;
            line-height: 42px;
            margin: 0 auto;
            margin-top: 10px;
        }
        &__subheader {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            margin: 0 auto;
            margin-top: 15px;
        }
        &__icons {
            margin: 0 auto;
            margin-top: 35px;
            width: 70%;
            justify-content: space-between;
        }
        &__icon {
            font-size: 14px;
            font-weight: 400;
            width: 108px;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        &__link {
            font-size: 24px;
            font-weight: 500;
            margin-top: 10px;
            padding-right: 25px;
        }
    }

    .advantages {
        padding: 20px 0 78px 0;
        &__wrapper {
            margin-top: 25px;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__title {
            font-size: 30px;
            font-weight: 700;
        }
        &__item {
            margin-top: 15px;
            display: flex;
            max-width: 350px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 700;
        }
        &__text {
            font-size: 22px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
    .consultation {
        padding: 100px 0 40px 0;
        text-align: center;
        &__descr {
            margin-top: 20px;
            font-size: 30px;
        }
        }
    .title {
        &_left {
            display: contents;
            font-size: 32px;
            }
        }
    .feed-form {
        margin: 0 auto;
        margin-top: 20px;
    }
    button.button.button_submit {
        font-size: 18px;
        width: 100%;
    }
    
    .carousel {
        padding: 81px 0;
        &__inner {
            width: 100%;
            margin: 0 auto;
            position: relative;
            img {
                width: 100%;
            }
        }
        ul {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                padding: 0;
                button {
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    padding: 5px;
                    color: transparent;
                    background: $main-color;
                    }
                }
            }
        }
        .catalog {
            &__tabs {
                margin: 0 auto;
            }
            &__content {
                justify-content: space-around;
            }
            &-item {
                &__subtitle {
                    font-size: 20px;
                }
                &__link {
                    font-size: 18px;
                }
            }
        }
        .button.button_mini {
            width: 55%;
            font-size: 18px;
        }

        .reviews {
            &__item {
                div:nth-child(1) {
                    padding-left: 9%;
                }
            }
            &__text {
                text-align: center;
            }
        }
}

@media (max-width: 767px) {
    .header {
        padding-right: 7px;
        &__official {
            display: none;
        }
        &__contacts{
            padding-left: 5px;
        }
        &__phone {
            font-size: 20px;
            font-weight: 600;
        }
    }

    button.button {
        margin-top: 10px;
        font-size: 18px;
        width: 100%;
    }

    button.button_main{
        font-size: 20px;
        width: 300px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .promo {
        min-height: 535px;
        padding: 10px 0 10px 0;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 42px;
            font-weight: 700;
            line-height: 42px;
            margin: 0 auto;
            margin-top: 10px;
        }
        &__subheader {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            margin: 0 auto;
            margin-top: 15px;
        }
        &__icons {
            margin: 0 auto;
            margin-top: 35px;
            width: 70%;
            justify-content: space-between;
        }
        &__icon {
            font-size: 14px;
            font-weight: 400;
            width: 108px;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        &__link {
            font-size: 20px;
            font-weight: 500;
            margin-top: 10px;
            padding-right: 25px;
        }
    }

    .advantages {
        padding: 20px 0 78px 0;
        &__wrapper {
            margin-top: 25px;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__title {
            font-size: 30px;
            font-weight: 700;
        }
        &__item {
            margin-top: 15px;
            display: flex;
            max-width: 350px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 700;
        }
        &__text {
            font-size: 22px;
            font-weight: 400;
            text-align: center;
            margin-top: 10px;
        }
    }  
    .consultation {
        padding: 100px 0 40px 0;
        text-align: center;
        &__descr {
            margin-top: 20px;
            font-size: 30px;
        }
        }
    .title {
        &_left {
            display: contents;
            font-size: 32px;
            }
        }
    .feed-form {
        margin: 0 auto;
        margin-top: 20px;
    }
    button.button.button_submit {
        font-size: 18px;
        width: 100%;
    }

    .catalog {
        &__tabs {
            width: 94%;
            margin: 0 auto;
        }
        &__tab {
            font-size: 16px;
        }
        &-item {
            margin: 0 auto;
            margin-bottom: 20px; 
            &__subtitle {
                font-size: 20px;
            }
            &__link {
                font-size: 16px;
            }
        }
    }
    .button.button_mini {
        font-size: 20px;
        width: 55%;
    }
    .reviews {
        &__img {
            margin: 0 auto;
        }
        &__subtitle {
            padding-top: 10px;
        }
        &__item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            &:nth-child(2){
                margin-top: 40px;
            }
            div:nth-child(1) {
                    padding-left: 0%;
                }
        }
        &__text {
            padding-right: 0px;
            text-align: center;
        }
        &__descr {
            margin: 0 auto;
            margin-top: 15px;
            width: 71%;
        }
    }

    .footer {
        &__info {
        height: 220px;
        width: 55%;
        padding: 30px 10px 30px 10px;
        }
        &__phone {
            margin-bottom: 25px;
        }
    }

}

@media (max-width: 575px) {
    .header {
        padding-right: 10px;
        &__official {
            display: none;
        }
        &__contacts{
            padding-left: 5px;
            width: 55%;
        }
        &__phone {
            font-size: 12px;
            font-weight: 800;
        }
        &__logo {
            width: 240px;
        }
    }
    button.button {
        margin-top: 10px;
        font-size: 10px;
        width: 100%;
    }

    button.button_main {
        font-size: 18px;
        width: 300px;
        margin: 0 auto;
        margin-top: 35px;
    }

    .promo {
        min-height: 568px;
        padding: 10px 0 10px 0;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 42px;
            font-weight: 700;
            line-height: 42px;
            text-align: center;
        }
        &__subheader {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 8px;
            text-align: center;
        }
        &__icons {
            margin-top: 35px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        &__icon {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            width: 108px;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        &__link {
            font-size: 20px;
            font-weight: 500;
            margin-top: 15px;
            padding-right: 15px;
            text-align: center;
        }
    }

    .advantages {
        padding: 20px 0 78px 0;
        &__wrapper {
            margin-top: 25px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__title {
            font-size: 30px;
            font-weight: 700;
        }
        &__item {
            margin-top: 15px;
            max-width: 238px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 700;
        }
        &__text {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            margin-top: 10px;
        }
    }  
    .consultation {
        padding: 80px 0 22px 0;
        text-align: center;
        &__descr {
            font-size: 20px;
        }
    }
    .title {
        &_left {
            display: contents;
            font-size: 24px;
            }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 20px;
    }
    button.button.button_submit {
        font-size: 18px;
    }

    .catalog {
        &__tabs {
            width: 94%;
            margin: 0 auto;
        }
        &__tab {
            font-size: 10px;
        }
        &-item {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .button.button_mini {
        font-size: 16px;
        width: 80%;
    }

    .reviews {
        &__img {
            margin: 0 auto;
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            &:nth-child(2){
                margin-top: 40px;
            }
        }
        &__text {
            padding-right: 0px;
            text-align: center;
        }
        &__descr {
            margin: 0 auto;
            width: 90%;
        }
    }

    .footer {
        &__info {
        height: 220px;
        width: 100%;
        padding: 30px 10px 30px 10px;
        }
        &__phone {
            margin-bottom: 25px;
        }
    }

    .modal {
        min-height: 400px;
        width: 90%;
        &__close {
            top: 10px;
            right: 10px;
        }
    }
    .feed-form {
        &_mt25 {
            width: 100%;
        }
    }
}